body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#login-page {
    background-image: url('img4.jpg');
}

#main-page {
    background-image: url('img3.jpg');
}

#customer-page {
    background-image: url('img2.jpg');
}

.logo img {
    width: 150px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

#clock, #date {
    margin-top: 20px;
    font-size: 24px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.customer-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-group {
    text-align: right;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-group button {
    flex: 1;
    margin: 5px;
}
